*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}
 
body {
    background-color: #8A51FC;
    width: 1798px;
    height: 1104px;
    margin-top: 29px;
    margin-left: 30px;
}

.logotipo {
    width: 300px;
    display: block;
    margin: 20px auto;
 }

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 25px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    margin: auto;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    gap: 4px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 40px;
    height: 25px;
    width: 100;
    margin-bottom: 24px;
    padding-left: 25px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    width: 327px;
    height: 48px;
    top: 327px;
    font-size: 24px;
    background: #772FD3;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #8A51FC;
    border-radius:20px;
    margin-top: 36px;
    padding: 12px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {   
margin: 15px 0;
}

.Caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
 color: #777777;
 font-size: 14px;
}

.moeda-converso, .moeda-converso-two {
  color: #555555;
  font-weight: 700; 
  font-size: 20px;
}